.App {
  text-align: center;
  background-color: white;
  margin-top: -2rem;
}
.users-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.title {
  color: #e68e3b;
  padding: 2rem;
}

.pokemoCard {
  border: 1px solid lightgray;
  border-radius: 10px;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;  
}